/* .redtext{
    color: red;
} */
 /* body{
    font-family: "Noto Sans KR", sans-serif;
 } */
h1 ~p{
    font-family: "Dongle", sans-serif;
    font-size: 20px;
    font-weight: bold;
}
header h1 + p{
    color: blue;
}
article{
    border: 1px solid #ccc;
    padding: 20px; /* 테두리 안 영역 지정*/
    margin: 10px; /* 테두리 바깥 여백 지정*/
}
table{
    border: 2px solid #aaa;
    border-collapse: collapse; /*선 합치기*/
    margin: 10px;
    width: 70%;
}
th, td{
    border: 1px solid #aaa;
    padding: 10px;
}
thead{
    text-align: center;
    background-color:#d3d3d3;
}
tbody{
    text-align: center;             /*가운데 정렬*/
}
tfoot{
    background-color: #eee; 
}
#room thead{
    background-color: pink;
}
#room tfoot{
    color: blue;
    text-align: center;
}
img{
    width: 100px;
    height: 100px;
}
