#container {
    width: 500px;
    margin: 0 auto;
}
form label {
    width: 80px;
    display: inline-block;
}
li {
    list-style: none;
    background-color: rgba(255,255,255,0.5);
    margin: 5px 5px;
    padding: 10px;
    border-radius: 10px;
}
.redtext {
    color: red;
}
.center {
    text-align: center;
}
form fieldset {
    border: none;
}
form {
    background-color: beige;
    padding: 20px;
}
form input {
    width: 250px;
    padding: 3px;
}
form ul {
    padding: 0 20px;
}
.center input {
    width: 130px;
    padding: 5px;
    border-radius: 20px;
    border: none;
    background-color: #bbb;
}
legend {
    font-weight: bold;
    text-shadow: 1px 1px 2px #aaa;
}