#container {
    width: 500px;
    margin: 0 auto;
    background-color: beige;
    padding: 30px 30px;
    padding-top: 20px;
    border-radius: 20px;
}
legend {
    font-weight: bold;
    font-size: 22px;
}
fieldset {
    margin: 20px 0;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
}
form label {
    display: inline-block;
    width: 70px;
}
li {
    list-style: none;
}