@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
html, body {
    padding: 0;
    margin: 0;
}
body {
    background: url(../img/바탕화면.jpg) repeat fixed;
    background-size: cover;
}
#container {
    margin: 0 auto;
    width: 960px;
    overflow: hidden;
}

#nav-top-right {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 958px;
    border: 1px solid #e7e7e7;
    background-color: #f5f6f7;
    height: 60px;
    line-height: 26px;
    border-radius: 20px;
}
#nav-top-right ul {
    margin-right: 20px;
}
#nav-top-right li {
    margin: 0 auto;
    float: right;
    margin-right: 14px;
    margin-bottom: 10px;
    list-style: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
}
#main {
    display: inline-block;
    border: 1px solid #e7e7e7;
    width: 918px;
    padding: 0 20px;
    background-color: #f5f6f7;
    border-radius: 20px;
}
a {
    color: black;
    text-decoration: none;
}
h2 {
    float: left;
}
article {
    float: left;
    background-color: #fff;
    text-align: justify;
    line-height: 2;
    border: 1px solid #dbdbdb;
    padding: 30px 20px;
    border-radius: 20px;
    overflow: hidden;
}
aside {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    width: 437px;
    height: 400px;
    float: right;
    margin: 10px;
    margin-top: 38px;
    border-radius: 20px;
}
aside img {
    width: 370px;
    margin: 64px 34px;
    border-radius: 10px;
}
footer {
    border-top: 1px solid #e7e7e7;
    margin-top: 50px;
    background: #f5f6f7;
    height: 300px;
    text-align: center;
    line-height: 80px;
    padding-top: 150px; 
}
aside a {
    display: block;
    padding: 1px;
    width: 50px;
    height: 40px;
    border: #ccc;
    background-color: #cccccc;
    border-radius: 50%;
    position: fixed;
    text-align: center;
    right: 390px;
    bottom: 20px;
    font-size: 10px;
    padding-top: 5px;
    line-height: 12px;
}
aside p {
    margin-top: 5px;
    color: #7b7b7b;
}
.part1 {
    width: 397px;
    margin: 10px 10px;
}
.part2 article{
    margin: 10px 10px;
    height: 130px;
    width: 397px;
    padding-bottom: 25px;
}
.move-li1{
    float: left;
    margin: 0;
}
.move-li {
    float: right;
    margin-right: 10px;
}
article ol {
    margin: 0;
}
article ul {
    margin: 0;
}
article h3 {
    clear: both;
    margin-top: 0;
}
h2 {
    margin-left: 30px;
    display: inline-block;
    text-align: center;
    line-height: 17px;
    font-size: 25px;
    margin-top: 4px;
}