@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
        html, body {
            padding: 0;
            margin: 0;
        }
        body {
            background: url(../img/바탕화면.jpg) repeat fixed;
            background-size: cover;
        }
        #container {
            margin: 0 auto;
            width: 960px;
            overflow: hidden;
        }
        #nav-top-right {
            margin-top: 30px;
            margin-bottom: 50px;
            width: 958px;
            border: 1px solid #e7e7e7;
            background-color: #f5f6f7;
            height: 50px;
            line-height: 10px;
            border-radius: 20px;
            height: 60px;
        }
        #nav-top-right ul {
            float: right;
            margin-right: 20px;
            width: 500px;
            margin-left: 200px;
        }
        #nav-top-right li {
            float: right;
            margin: 0 auto;
            margin-right: 14px;
            margin-bottom: 10px;
            list-style: none;
            color: black;
            font-size: 12px;
            font-weight: bold;
        }
        #main {
            border: 1px solid #e7e7e7;
            width: 918px;
            padding: 0 20px;
            background-color: #f5f6f7;
            border-radius: 20px;
        }
        hr {
            clear: both;
            width: 890px;
            text-align: center;
            background: #ccc;
            height: 1px;
            border: 0;
        }
        h2 {
            margin-left: 30px;
            display: inline-block;
            text-align: center;
            line-height: 17px;
            font-size: 25px;
        }
        h3 {
            display: inline-block;
            padding: 10px;
            border-radius: 25px;
            text-align: center;
            line-height: 14px;
        }
        h3 {
            display: inline-block;
            padding: 10px;
            border-radius: 25px;
            text-align: center;
            line-height: 14px;
        }
        li{
            line-height: 2;
        }
        a {
            text-decoration: none;
            color: black;
        }
        footer {
            border-top: 1px solid #e7e7e7;
            margin-top: 50px;
            background: #f5f6f7;
            height: 300px;
            text-align: center;
            line-height: 80px;
            padding-top: 150px; 
        }
        aside {
            float: right;
            border: 1px solid #dbdbdb;
            border-radius: 20px;
            margin: 0 auto;
            margin-top: 130px;
            padding: 10px 40px;
            background-color: #fff;
            line-height: 2;

        }
        aside img {
            width: 300px;
            border-radius: 5px;
        }
        aside a {
            display: block;
            padding: 1px;
            width: 50px;
            height: 40px;
            border: #ccc;
            background-color: #ccc;
            border-radius: 50%;
            position: fixed;
            text-align: center;
            right: 390px;
            bottom: 20px;
            font-size: 10px;
            padding-top: 5px;
            line-height: 12px;
        }
        aside p {
            margin-top: 5px;
            color: #7b7b7b;
        }
        figure {
            background-color: #ffffff;
            padding: 10px 10px;
            border-radius: 10px;
            width: 878px;
            margin: 0 auto;
            border: 1px solid #dbdbdb;
            margin-bottom: 80px;
        }
        figure img {
            width: 200px;
            margin: 0 44px;
            border-radius: 10px;
        }
        .green-center img{
            margin: 0 8px;
        }
        figcaption {
            text-align: center;
        }
        #nav-top-middle {
            text-align: center;
        }
        #nav-top-middle li{
            display: inline-block;
            margin-left: 50px;
        }
        article {
            background-color: #fff;
            margin: 20px auto;
            text-align: justify;
            border: 1px solid #dbdbdb;
            padding: 30px 20px;
            border-radius: 20px;
            width: 465px;
            display: inline-block;
        }
        #section1 {
            display: inline-block;
            width: 500px;
        }